/* General style rules */
* {
    padding: 0px;
    margin: 0 auto;
    background-color: #F2F4FC;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 40px;
}
h3 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}
p {
    color:#6B708D;
    font-size: 20px;
}
h5{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
.getintouch-button{
    background-color:  #072AC8;
    color: white;
    padding: 15px 25px;
    border: none;
    text-decoration: none;
    position: absolute;
    right: 49%;
    top: 2px;
}
.contact-button{
    background-color: #072AC8;
    color: white;
    padding: 15px 25px;
    border: none;
    text-decoration: none;
}
/* Section Our Services */
.our-services{
    margin-bottom: 100px;
}
.cards-our-services{
    margin: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 30px;
}
.div-cards{
    max-width: 340px;
    background-color: white;
    margin: 0px 0px 0px 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
.img-icon{
    height: 33px;
    width: 33px;
    background-color: transparent;
}
.div-cards p, .div-cards h5, .div-cards a{
    margin-left: 40px;
    background-color: white;
    width: 65%;
    margin-top: 20px;
}
.div-cards a {
    color: #072AC8;
    margin: 30px;
}
.div-cards p {
    font-size: 20px;
    font-weight: 100;
}
.our-services h3 {
    margin-left: 14%;
    margin-top: 5%;
}

.img-cards-icon{
    height: 80px;
    width: 80px;
    background-color: #D1EDFF;
    border-radius: 80px;
    margin-top:35px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Testimonials section */
.testimonials {
    background-color: #292E47;
    height: 622px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.emoji{
    height: 150px;
    width: 150px;
    background-color: #292E47;
    position: relative;
    top: 80px;
}
.img-testimonials{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    background-color: #292E47;
    margin-top: 100px;
}
#testimonials-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;

}
#testimonials-text, #testimonials-text p, #testimonials-text h3, #testimonials-text div{
    background-color: #292E47;
    color: white;
}
#testim-p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.emoji1{
    height: 150px;
    width: 150px;
    background-color: #292E47;
    position: relative;
    bottom: 180px;
}
#testimonials-text p{
    color: #FFC600;
    font-size: 25px;
    letter-spacing: 1px;
}

#testimonials-text div p{
    font-size: 15px;
    color: #D1EDFF;
}
#profile-testimonials{
    height: 55px;
    width: 60px;
    border-radius: 80%;
    margin-right: 20px;
}
.kristin{
    margin-top: 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
/* Recent projects section*/
.img-recent-proj{
    height: 50%;
    width: 100%;
    margin-bottom: 30px;
}
.recent-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    height: 600px;
}
.section-projects h3{
    margin-left: 16%;
    margin-bottom: 5%;
}
.cards{
    height: 444px;
    background-color: white;
    margin-bottom: 10%;
    margin-left: 20px;
}
.cards p, .cards h5, .cards a{
    background-color: white;
    margin-left: 10%;
}
.cards a{
    position: relative;
    top: 50px;
    color: #072AC8;
}

/* Logo images section */
.section-logo-brands{
    margin: 0px 100px;
    display: flex;
    justify-content: space-evenly;
    margin: 15% 0px;
}

/* Section cover hero*/
#hero-img{
    height: 630px;
    width: 570px;
    background-color: none;
}
#icon-payment{
    height: 256px;
    width: 230px;
    position: absolute;
    right: 400px;
    background-color:transparent;
}
#thumb-icon{
    position: absolute;
    height: 256px;
    width: 230px;
    left: auto;
    top: auto;
    right: 0%;
    bottom: -70%;
    max-width: 375px;
    background-color: transparent;
}
.cover-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 2% 50px 8% 0px;
}
#text-section-cover{
    margin-left: 150px;
    width: 30%;
    height: 100%;
}
#see-our-work-bt{
    border: none;
    margin-right: 25px;
    position: absolute;
    top: 17px;
    left: 60%;
}
#butt{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 5%; */
    position: relative;
    /* width: 70%; */
}
#section-img{
    position: relative;
}