#main-section1{
    width: 100%;
    height: 444px;
}
*{
    background-color: #F2F4FC;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 40px;
}
h3 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}
p {
    color:#6B708D;
    font-size: 20px;
}
h5{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
#img-pg p{
    width: 100%;
    text-align: left;
}
#img-pg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recent-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    height: 600px;
}
.img-recent-proj{
    height: 240px;
    width: 100%;
}
.section-projects h3{
    margin-left: 16%;
}
.cards{
    height: 444px;
    background-color: white;
    margin-bottom: 10%;
    margin-left: 20px;
}
.cards p, .cards h5, .cards a{
    background-color: white;
    margin-left: 10%;
}
.cards a{
    color: #072AC8;
    text-decoration: none;
}
.main-section{
    width: 100%;
}
.main-section-div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
#sect-p1{
    margin-right: 50px;
}