<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/templates/footer.css">
</head>
<body>
    <footer>
        <div id="footer-link1">
            <div id="div-footer2">
                <a href="#">Team</a>
                <a href="#">Services</a>
                <a href="#">About Us</a>
            </div>
            <div id="div-footer3">
                <a href="#">Press</a>
                <a href="#">Projects</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
        <div id="img-footer">
            <img src="/project-assets/logos/circle.svg" alt="circle logo" id="footer-logo">
            <p>2972 Westheimer Rd. Santa Ana, Illinois 85486</p>
        </div>
    </footer>
</body>
</html>