<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/templates/navbar.css">
</head>
<body>
    <nav class="nav">
        <img src="/project-assets/logos/circle.svg" alt="circle logo">
        <ul>
            <li class="navItem"><a href="/index.html">Home</a></li>
            <li class="navItem"><a href="#">Projects</a></li>
            <li class="navItem"><a href="#">Services</a></li>
        </ul>
        <a href="/Contact Page/contact.html" class="contact-button">Contact Us</a>
        </nav>
</body>
</html>