<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/templates/quest&ans.css">
    <link rel="stylesheet" href="/templates/media-quest.css">
</head>
<body>
    <section class="questions">
            <h3>Do you have any questions?</h3>
            <p style="color: #6B708D">Let us help you!</p>
            <form action="#" id="form">
                <label for="email"></label>
                <input type="email" id="email" placeholder="Enter your email">
                <input type="submit" value="Subscribe" id="butt-sub">
            </form>
        </div>
    </section>
</body>
</html>