h3 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}
.questions{
    height: 100%;
    padding: 5%;
    background-color: #FFC600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questions h3, .questions p, form {
    background-color: #FFC600;
    width: 100%;
    text-align: center;
    color: black;
    margin-top: 4%;
}
#butt-sub{
    background-color: #072AC8;
    color: white;
    border: none;
    height: 100%;
    width: 20%;
    padding: 2%;
    margin-left: 2%;
}
#email{
    height: 100%;
    width: 25%;
    border: none;
    background-image: url('/project-assets/newsletter/icon/mail.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    position: left;
    background-position-x: 6%;
    padding: 2% 2% 2% 7%;
}
@media (max-width:420px){
    #email{
        padding: 2% 2% 2% 17%;
        width: 35%;
    }
    #butt-sub{
        width: 30%;
        padding: 3%;
        margin: 0%;
        margin-top: 2%;
    }   
    .questions h3, .questions p, form {
        margin-top: 4%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media (min-width:420px) and (max-width: 768px){
    .questions h3, .questions p, form {
        margin-top: 4%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #butt-sub{
        margin-right: 13px;
        margin-top: 10px;
    }
    #email{
        padding: 2% 2% 2% 17%;
        width: 30%;
    }
}