*{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 40px;
    margin-left: 7%;
}
#section-contact{
    margin-top: 100px;
}

form {
    padding: 0px 100px;
    margin-bottom: 100px;
}
#message, #email, #phone, #fullName{
    background-color: rgba(107, 112, 141, 0.1);
    color: black;
    border: none;
    margin-top: 5px;
} 
input::placeholder {
    color: grey;
    background-position-x: left;
    background-position-y: top;
}
#message{
    width: 97%;
    padding: 20px 20px 100px 20px;
}

#fullName {
    width: 97%;
    padding: 20px;
}
.div-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}
.email-class, .phone-class{
    width: 50%;
}
.phone-class{
    margin-left: 20px;
}
.email-class{
    margin-right: 20px;
}
#email, #phone {
    padding: 20px;
    width: 555px;
}
#submit-bt{
    margin-top: 30px;
    height: 70px;
    padding: 5px 45%;
    border: none;
    background-color:#072AC8;
    color: white;
    font-size: 20px;
    width: 100%;
}
#submit-bt:hover{
    background-color: #292E47;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   h2 {
    margin-left: 18%;
   } 
   #email, #phone {
   padding: 20px 0px 20px 7px;
   width: 140px;
    }
    #submit-bt{
        width: 330px;
    }
}